# Documentation for our environment variables
# Please don't reveal our secrets

CORS_ORIGIN
DB_CONNECTION_STRING # postgresql://<USER>[:<PASSWORD>]@<HOST>[:<PORT>]/<NAME>?<OPTIONS_QUERY_PARAMS>
PORT
